@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: purple;
}

html {
  height: 130vh;
  background-color: rgb(255, 255, 255);
}

:root {
  --mainColor: purple;
  --mainColorLight: rgb(255, 255, 255);
  --secondaryColor: rgb(255, 255, 255);
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

.nav-link {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 0.1rem;
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
  outline: none;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 10px;
}

.top-content {
  justify-content: center;
  align-items: center;
  display: flex;
  font-display: auto;
}

.middle-content {
  width: 90%;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  border: 5px solid black;
  padding: 1rem;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px;

  h1 {
    justify-content: center;
    font-size: 30px;
    border-bottom: 3px solid black;
    display: flex;
    margin-bottom: 30px;
  }
}

.tables {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: right;
  margin-right: 100px;

  .verify-title {
    margin-left: 200px;
  }

  .rank-title {
    margin-right: 100px;
  }
}

table {
  border: 2px solid purple;
  width: 600px;
  margin-right: 30px;
  height: 200px;
  margin-bottom: 20px;
  float: left;
}

th {
  font-size: 20px;
  border-bottom: 2px solid purple;
  border-right: 2px solid purple;
}

td {
  text-align: center;
  border-right: 2px solid purple;
  border-bottom: 2px solid purple;
}

.verifications {
  float: right;
  border: 2px solid purple;
  width: 400px;

  li {
    list-style: none;
  }

  .verification-labels {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
  }

  .verification-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
